.detailsCharacter {
  height: fit-content;
  position: sticky;
  top: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  width: 40%;
  z-index: 18;
}

.detailsCharacter img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.detailsCharacter button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  width: 26px;
  height: 26px;
  font-weight: 600;
  border: none;
  border-radius: 0px 5px 0px 0px;
  font-size: 36px;
  background: #d87575;
  color: #ffffff;
  cursor: pointer;
}

.detailsCharacter button:hover {
  opacity: 0.8;
}

.detailsCharacter h2 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.detailsCharacter p {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 1600px) {
  .detailsCharacter {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .detailsCharacter {
    width: 60%;
  }
}

@media (max-width: 931px) {
  .detailsCharacter {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .detailsCharacter {
    position: fixed;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .detailsCharacter button {
    top: -1px;
    right: 0px;
  }

  .detailsCharacter h2 {
    font-size: 28px;
  }

  .detailsCharacter p {
    font-size: 26px;
  }
}

@media (max-height: 760px) and (min-width: 1072px) {
  .detailsCharacter {
    width: 30%;
  }
}

@media (max-height: 660px) and (min-width: 581px) {
  .detailsCharacter img {
    width: 50%;
    margin-right: 10px;
  }

  .detailsSubdescription {
    display: flex;
  }
  .detailsCharacter p {
    font-size: 20px;
  }
}
